{% extends "layout.html" %} {% block pageTitle %} Content page template – {{ serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a> {% endblock %} {% block content %}

<div class="govuk-panel govuk-panel--confirmation">
    <h1 class="govuk-panel__title">
        Order Confirmation
    </h1>
    <div class="govuk-panel__body">
        Your reference number<br><strong>HDJ2123F</strong>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <p><strong>LFT Ordered: </strong> 2,500 </p>
        <p>

            <strong>Delivery Date: </strong> Tuesday 15 February 2022
        </p>
        <p><strong>Delivery Time: </strong> 11.00am - 12.00pm</p>
        <p><strong>Pharmacy Address: </strong> The Mounts Medical Centre, Northampton, NN1 3DS</p>


    </div>

</div>
{% endblock %}